$white: #FFF;
$black: #000;
$link_color: #3b5998;
$grey_font: #4b4f56;
$blue_font: #365899;
$pale_gray: #F5F6F7;
$icon_color: #000035;
$frame_color: #dddfe2;
$pale_gray_font: #90949c;
$header_color: #4267b2;
$header_bottom_color: #29487d;
$left-sidebar_color: #1d2129;
