@import '../config/variables';
.advertisement {
  width: 330px;
  background-color: $white;
  margin-top: 20px;
  display: flex;

  &__contents{
    margin: 20px;
  }

  &__subject {
    font-size: 13px;
    line-height: 13px;
    color: $grey_font;
    font-weight: 600;

  }
  &__img {
    width: 284px;
    height: 142px;
  }

  &__heading {
    font-weight: 600;
    color: $link_color;
    padding-top: 10px;
    font-size: 14px;
  }

  &__url {
    color: $link_color;
    overflow: hidden;
    text-decoration: none;
  }

  &__description {
    font-size: 14px;
    color: $grey_font;
  }
}
