@mixin icons() {
  text-decoration: none;
  display: flex;
  font-size: 1.3em;
  margin-bottom: 8px;
  position: absolute;
  margin-top: 6px;
  color: $icon_color;
}

@mixin header_menus() {
  text-decoration: none;
  color: $white;
  display: flex;
  font-size: 14px;
  margin-bottom: 8px;
  position: absolute;
  margin-top: 6px;
}